html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  color: rgb(230, 230, 230);
}

*::-webkit-scrollbar {
  width: 22px;
}

*::-webkit-scrollbar-thumb {
  border: 8px solid transparent;
  padding: 2rem;
  border-radius: 5rem;
  background: grey;
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
  border: 6px solid transparent;
}

::selection {
  background-color: green;
  color: white;
}

body {
  background-color: rgb(30, 30, 30);
}

.header {
  display: flex;
  align-items: center;
  height: 6rem;
  border-bottom: 1px solid grey;
}

.header__logo {
  width: 12rem;
  margin: 1rem;
}

.main{
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  margin: auto;
}

.main > div {
  width: 100%;
}

div,p,table,li{
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: green;
}

a {
  text-decoration: none;
  line-height: 1;
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 5px 5px;
  overflow: hidden;
  color: rgb(205, 129, 255);
  vertical-align: middle;
  transition: color .3s ease-out;
}

a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(102%);
  width: 100%;
  height: 100%;
  background-color: rgb(205, 129, 255);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: transform .25s ease-out;
}

a.no-hover{
  padding: 0;
}

a.no-hover::before{
  content: none;
}

a:visited {
  color: rgb(108, 238, 255);
}

a:hover { 
  color: #fff; 
}

a:hover::before {
  transform: translateY(0);
  transition: transform .25s ease-out;
}

.title{
  margin: 4rem 0 0;
}

.warning{
  background-color: rgb(255, 230, 92);
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.disclaimer{
  background-color: rgb(255, 230, 92);
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  color: rgb(0, 0, 0);
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.warning>p{
  color: rgb(0, 0, 0);
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

h2{
  margin-top: 4rem;
}

h3{
  margin: 2.3rem 0 1.5rem;
}

h4{
  margin: 2rem 0 1rem;
}

h3>a{
  margin-left: -5px;
}